.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: transparent; */
    padding: 0 20px !important;
    position: sticky;
    top: 0;
    width: 100%;
    height: max-content;
    z-index: 1;
    background-color: antiquewhite;
}

.navbar .logo {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 20px;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: #333;
    text-decoration: none;
    font-size: 17px;
}

.navbar ul li a:hover {
    color: #f0c040;
}

/* Hamburger menu styles */
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    border-radius: 5px;
}

/* Active link color */
.navbar ul li .active-link {
    color: #f0c040;  
}

.navbar ul li a:hover {
    color: #f0c040;
}


/* Mobile styles */
@media (min-width: 300px) and (max-width: 1100px){
    .navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 60px; /* Adjust to the height of the navbar */
        left: 0;
        padding: 10px 0;
    }

    .navbar ul.active {
        display: flex;
    }

    .navbar ul li {
        margin: 10px 0;
        text-align: center;
    }

    .navbar ul li a {
        font-size: 18px;
    }

    .hamburger {
        display: flex;
    }
}

